{
  "root": true,
  "env": {
    "browser": true,
    "node": true,
    "jasmine": true,
    "jest": true,
    "es6": true
  },
  "parserOptions": {
    "parser": "babel-eslint"
  },
  "extends": ["plugin:vue/strongly-recommended", "prettier"],
  "rules": {
    "no-var": "error",
    "camelcase": "off",
    "no-extra-boolean-cast": "off",
    "semi": [2, "never", {"beforeStatementContinuationChars": "never"}],
    "vue/require-prop-types": "off",
    "vue/require-default-prop": "off",
    "vue/no-reserved-keys": "off",
    "vue/prop-name-casing": "off",
    "vue/max-attributes-per-line": [
      2,
      {
        "singleline": 20,
        "multiline": {
          "max": 1,
          "allowFirstLine": false
        }
      }
    ]
  }
}
